@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.chartContainer {
  touch-action: none;
}

body {
  margin: 0;
  font-family: 'Noto Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  padding: 0;
  overflow-x: hidden;
}

code {
  font-family: 'Noto Serif', serif;
}

.header {
  background-color: blue;
  color: white;
  height: 70px;
  font-size: 30px;
  padding-top: 20px;
}

.footer {
  height: 30px;
  background-color: blue;
  color: white;
  position: absolute;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightsteelblue;
  height: 50px;
}

.main {
  background-color: lightcyan;

}

.contentText {
  display: flex;
  justify-content: space-evenly;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  width: 100%;
  grid-auto-flow: row;
  grid-template-areas:
  "student opdracht moeilijk plezier";
}


.student {
  grid-area: "student";
}

.opdracht {
  grid-area: "opdracht";
}

.moeilijk {
  grid-area: "moeilijk";
}

.plezier {
  grid-area: "plezier";
}